body {
    padding-left:15%;
    padding-right:15%;
    background-color: gray;
}
div {
    background-color: white;
    border:1px solid black;
    border-radius: 20px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.center {
    text-align: center;
}